.logo {
    height: 100px; /* Set the desired logo height */
}

header {
    background-color: wheat; /* Change to light green or wheat */
    padding: 1rem 0.5rem; /* Adjust padding for smaller size */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.custom-heading {
    color: rgb(199, 145, 44);
    font-family: Arial, sans-serif;
  }


.navbar-brand {
    color: rgb(75, 138, 85) !important; /* Change link color */
    text-decoration: none !important;
    font-weight: 800; /* Slightly bolder font */
}

.navbar-brand:hover {
    color: lightgreen !important; /* Change hover color */
    text-decoration: none !important; /* Remove underline */
}

nav {
    margin: 20px 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    flex: 1 1 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-item h3 {
    margin: 10px 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    background-color: #343a40;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.card img {
    max-height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.btn-primary {
    background-color: #ffffff;
    border: none;
    padding: 10px 20px;
    color: rgb(161, 123, 123);
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
}

.bg-primary {
    --bs-bg-opacity : 1;
    background-color: rgb(255 255 255) !important;
}

@media (max-width: 768px) {
    .product-list {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .footer {
        position: float;
    }
}

/* Add hover effect for product */
.product {
    border: none; /* Remove border */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.product:hover {
    background-color: rgba(0, 0, 0, 0.05); /* Slightly darker background */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}

/* Tagline styling */
.tagline-text {
    font-size: 1rem; /* Large font size */
    font-weight: bold; /* Bold text */
    color: rgb(199, 145, 44); /* Stylish color */
    text-transform: uppercase; /* Uppercase letters */
    letter-spacing: 2px; /* Add spacing between letters */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
    margin: 0;
}